<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleExecutable</key>
<string>bin/STM32CubeProgrammer</string>
<key>CFBundleGetInfoString</key>
<string>STM32CubeProgrammer 2.8.0</string>
<key>CFBundleIdentifier</key>
<string>com.st.stm32cubeprogrammer</string>
<key>CFBundleName</key>
<string>STM32CubeProgrammer</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>2.4.0</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>2.4.0</string>
<key>CFBundleIconFile</key>
<string>stm32cubeprogrammer</string>
</dict>
</plist>
